.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
src/**
webui/node_modules/**
webui/bower_components/**
webui/src/**
webui/less/**
webui/ui/**
webui/server/**
webui/bower.json
webui/favicon.ico
webui/Gruntfile.js
webui/index.html
webui/LICENSE
webui/main.js
webui/package.json
webui/README.md
webui/rollup.config.js
webui/yarn.lock
webui/.babelrc
webui/.bowerrc
webui/.jscsrc
!webui/node_modules/kityminder-core/dist/kityminder.core.css
!webui/node_modules/kityminder-core/dist/kityminder.core.min.js
!webui/bower_components/bootstrap/dist/css/bootstrap.css
!webui/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.woff2
!webui/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.woff
!webui/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf
!webui/bower_components/codemirror/lib/codemirror.css
!webui/bower_components/hotbox/hotbox.css
!webui/bower_components/color-picker/dist/color-picker.min.css
!webui/bower_components/jquery/dist/jquery.js
!webui/bower_components/bootstrap/dist/js/bootstrap.js
!webui/bower_components/angular/angular.js
!webui/bower_components/angular-bootstrap/ui-bootstrap-tpls.js
!webui/bower_components/codemirror/lib/codemirror.js
!webui/bower_components/codemirror/mode/xml/xml.js
!webui/bower_components/codemirror/mode/javascript/javascript.js
!webui/bower_components/codemirror/mode/css/css.js
!webui/bower_components/codemirror/mode/htmlmixed/htmlmixed.js
!webui/bower_components/codemirror/mode/markdown/markdown.js
!webui/bower_components/codemirror/addon/mode/overlay.js
!webui/bower_components/codemirror/mode/gfm/gfm.js
!webui/bower_components/angular-ui-codemirror/ui-codemirror.js
!webui/bower_components/marked/lib/marked.js
!webui/bower_components/kity/dist/kity.min.js
!webui/bower_components/hotbox/hotbox.js
!webui/bower_components/json-diff/json-diff.js
!webui/bower_components/color-picker/dist/color-picker.min.js
.gitignore
tsconfig.json
vsc-extension-quickstart.md
tslint.json